<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
	    <li class="active"><a href="/admin/add_menu">添加菜单<span class="sr-only">(current)</span></a></li>
	    <li><a href="/admin/menu_lists">菜单列表</a></li>
        <li><a href="">订餐记录</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="/admin/questionnaire/list">问卷列表</a></li>
    </ul>
</div>