<%- include ../admin-header %>

	<p>第一题：你喜欢吃什么【单选题】</p>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>用户</th>
				<th>答案</th>
			</tr>
		</thead>
		<tbody>
		
			<tr>
				<td>用户一</td>
				<td>1.中餐 2.西餐</td>
			</tr>
		</tbody>
	</table>

	</table>
<%- include ../admin-footer %>