<%- include ../admin-header %>
	<div class="row">
		<div class="col-md-4">
			<form method="post" id="question">
				<div class="form-group">
					<label for="title" class="control-label">题目名称</label>
					<div class="">
						<input class="form-control" id="title" type="text" name="title" />
					</div>
				</div>
				<div class="form-group">
					<label for="type" class="control-label">题目类型</label>
					<div class="">
						<select class="form-control" id="type" name="type" />
							<option value=0>单选</option>
		  					<option value=1>多选</option>
		  					<option value=2>问答</option>
						</select>
					</div>
				</div>
				<div class="question-select-part">
					<label for="q_1" class="control-label">选项名称(请按顺序填写，至少填写2项)</label>
					<div class="form-group">
						<div class="">
							<input class="form-control txt" id="q_1" type="text" name="q_1" />
						</div>
					</div>
					<div class="form-group">
						<div class="">
							<input class="form-control txt" id="q_2" type="text" name="q_2" />
						</div>
					</div>
					<div class="form-group">
						<div class="">
							<input class="form-control txt" id="q_3" type="text" name="q_3" />
						</div>
					</div>
					<div class="form-group">
						<div class="">
							<input class="form-control txt" id="q_4" type="text" name="q_4" />
						</div>
					</div>
				</div>
				<input type="hidden" name="content" id="content" />
				<div class="form-group">
				    <button type="submit" class="btn btn-primary">确认</button>
				</div>
			</form>
		</div>
	</div>
	<script>
		document.getElementById("question").onsubmit = function(){
			var txt_ele = document.querySelectorAll(".txt");
			var txt = [];
			for(var i=0,l=txt_ele.length;i<l;i++){
				if(txt_ele[i].value != ''){
					txt.push(txt_ele[i].value);
				}
			}
			document.getElementById("content").value = txt;
		}

		$("#type").change(function(){
			if($(this).val() == 0 || $(this).val() == 1){
				$(".question-select-part").removeClass("hide");
			}else if($(this).val() == 2){
				document.getElementById("content").value = "";
				$(".question-select-part").addClass("hide");
			}
		})
	</script>
<%- include ../admin-footer %>