<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/stylesheets/bootstrap-v3.3.6.css" rel="stylesheet">
	<link href="/stylesheets/blog.css" rel="stylesheet">
  </head>
  <body>
  	