<!DOCTYPE html>
<html lang="en" ng-app="foodCourtApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../stylesheets/bootstrap-v3.3.6.css">
    <link rel="stylesheet" href="../stylesheets/screen.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <% if (user) { %>
                        你好，<%= user.name %>
                    <% } else { %>
                        你好，游客
                    <% } %>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="#about">我的订单</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div ng-view></div>

    <hr>
    <footer>
        <p>© 2015 Company, Inc.</p>
    </footer>
</body>
<!--<input type="hidden" value="<%= data %>" >-->
<script src="../javascripts/jquery.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>

<script src="../javascripts/angular.min.js" type="text/javascript"></script>
<script src="../javascripts/angular-route.min.js" type="text/javascript"></script>
<script src="../javascripts/app/controller/controllers.js" type="text/javascript"></script>
<script>
// var menu_by_type = <%- JSON.stringify( data ) %>
// console.log(JSON.stringify(menu_by_type))
var fcApp = angular.module('foodCourtApp', ["ngRoute", "foodcourtController"]);

fcApp.config(['$routeProvider', function($routeProvider){
    $routeProvider.
        when('/',{
            templateUrl: 'templates/partials/menu_lists.ejs',
            controller: 'foodMenuCtrl'
        }).
        when('/cart/checkout',{
            templateUrl: 'templates/partials/food-order-1.ejs',
            controller: 'checkoutCtrl'
        })
}])

</script>
</html>