<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap-v3.3.6.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <title>Document</title>
</head>

<body>
    <%- include user-admin-navbar %>
        <div class="container-fluid">
        <%- include user-admin-sidebar %>
