<!-- #include file="user-admin-header.shtml" -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
        <h1>订单记录 <small>Subtext for header</small></h1>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="../img/42b3f5cbcdf610845a4b5dd6efeffjpeg.jpeg" alt="">
            <p>买了 经典麦辣鸡腿汉堡 等3件商品</p>
            <p>2015-01-09 13:14</p>
            <p>￥68.5</p>
            
        </div>
        <div class="panel-footer">
            订单已经完成
        </div>
    </div>

</div>
<!-- #include file="user-admin-footer.shtml" -->
