<%- include user-admin-header %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
<div class="page-header">
    <h1>Example page header <small>Subtext for header</small></h1>
</div>
</div></div>
<%- include user-admin-footer %>
