<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="">全部订单<span class="sr-only">(current)</span></a></li>
        <li><a href="">退单记录</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">我的红包</a></li>
        <li><a href="">账户余额</a></li>
        <li><a href="">我的积分</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">个人资料</a></li>
        <li><a href="">地址管理</a></li>
        <li><a href="">安全中心</a></li>
        <li><a href="">修改密码</a></li>
    </ul>
</div>
